body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.hero{
    background-color: #1F2937;
}

.navbar{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 78em;
    font-size: 18PX;
}

header{
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    font-weight: bolder;
}

.links{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 300;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27em;
    height: 225px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 110px 0px 145px 200px;
    gap: 45px;
}

h2{
    font-size: 48px;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
    font-weight: bolder;
}

.contrast{
    font-weight: lighter;
    margin-bottom: 10px;
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
}

.upper-b{
    margin-right: auto;
    background-color: #3882F6;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 8px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    font-weight: 700;
}

.upper-b:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}

.section-b{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
    font-size: 25px;
    font-weight: bold;
}

.box-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.boxes{
    border-style: solid;
    border-color:#3882F6;
    border-width: 4px;
    width: 140px;
    height: 140px;
    border-radius: 12px;
    margin: 0px 18px;
}

.boxfix{
    display: flex;
    flex-direction: column;
}

.boxart{
    max-width: 150px;
    width: 100%;
    margin-left: 15px;
    padding-top: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    filter: contrast(75%);
}

